* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-bg: rgb(161, 196, 196);
  --color-black: rgb(0, 0, 0);
}
@keyframes imgAnime {
  from {
    opacity: 0;
    /* transform: translateX(-50rem); */
  }
  to {
    opacity: 100;
    /*  transform: translateX(0rem); */
  }
}
.container {
  width: 100%;
  max-width: 75rem;
  padding: 1em;
  margin: 0 auto;
  background-color: var(--color-bg);
  padding: 1em;
}
.slider-img {
  margin: 0;
  height: 7rem;
  width: 0;
  transition: all 0.3s;
}
.text {
  color: var(--color-bg);
  line-height: 0;
  font-size: 0;
  transition: all 0.3s;
}

#input-1:checked ~ .img-container #img-1,
#input-2:checked ~ .img-container #img-2,
#input-3:checked ~ .img-container #img-3,
#input-4:checked ~ .img-container #img-4 {
  width: 10rem;
}
#input-1:checked ~ .text-container #text-1,
#input-2:checked ~ .text-container #text-2,
#input-3:checked ~ .text-container #text-3,
#input-4:checked ~ .text-container #text-4 {
  line-height: 2rem;
  color: var(--color-black);
  font-size: 1.5rem;
}
